<template>
  <div>
    <h5>
      {{ title }}
      <span class="badge badge-info">{{ items.length }}</span>
    </h5>
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" v-for="item in items" :key="item.id">
            <div class="row align-items-center">
              <div class="col-md">{{ item.description }}</div>
              <div class="col-md text-right">
                <button class="btn btn-danger" @click="delItem(item)">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <div class="input-group mt-4">
          <input type="text" maxlength="50" placeholder="Digite o item" v-model="description" @keyup.enter="addItem(type, description)" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-success" @click="addItem(type, description)">
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppItemList",
  props: ["title", "type", "items"],
  data: () => {
    return {
      description: ""
    };
  },
  methods: {
    addItem(type, description) {
      this.$emit("addItem", {
        type,
        description
      });
      this.description = "";
    },
    delItem(item) {
      this.$emit("delItem", item);
    }
  }
};
</script>

<style scoped></style>
