<template>
  <div>
    <div id="main">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <AppItemList title="Prefixos" type="prefix" :items="items.prefix" @addItem="addItem" @delItem="deleteItem"></AppItemList>
          </div>
          <div class="col-md">
            <AppItemList title="sufixos" type="suffix" :items="items.suffix" @addItem="addItem" @delItem="deleteItem"></AppItemList>
          </div>
        </div>
        <div class="row">
          <div class="col-md mt-4">
            <h5>
              Dom&iacute;nios
              <span class="badge badge-info">{{ domains.length }}</span>
            </h5>
            <div class="card">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item" v-for="domain in domains" :key="domain.name">
                    <div class="row">
                      <div class="col-md">{{ domain.name }}</div>
                      <div class="col-md text-right">
                        <button class="btn btn-secondary">
                          <a class="fa fa-shopping-cart" target="_blank" :href="domain.checkout"></a>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios/dist/axios";
import AppItemList from "./AppItemList";

export default {
  name: "app",
  components: {
    AppItemList
  },
  data: () => {
    return {
      items: {
        prefix: [],
        suffix: []
      }
    };
  },
  methods: {
    addItem(item) {
      axios({
        url: "http://localhost:4000",
        method: "post",
        data: {
          query: `
            mutation($item: ItemInput) {
              newItem: saveItem(item: $item) {
                id
                type
                description
              }
            }
          `,
          variables: {
            item
          }
        }
      }).then(resp => {
        const query = resp.data;
        const newItem = query.data.newItem;
        this.items[item.type].push(newItem);
      });
    },
    deleteItem(item) {
      axios({
        url: "http://localhost:4000",
        method: "post",
        data: {
          query: `
            mutation($id: Int) {
              deleted: deleteItem(id: $id)
            }
          `,
          variables: {
            id: item.id
          }
        }
      }).then(() => {
        this.getItems(item.type);
      });
    },
    getItems(type) {
      axios({
        url: "http://localhost:4000",
        method: "post",
        data: {
          query: `
            query($type: String) {
              items: items (type: $type) {
                id
                type
                description
              }
            }
          `,
          variables: {
            type
          }
        }
      }).then(resp => {
        const query = resp.data;
        this.items[type] = query.data.items;
      });
    }
  },
  computed: {
    domains() {
      const domains = [];
      for (const prefix of this.items.prefix) {
        for (const suffix of this.items.suffix) {
          const name = prefix.description + suffix.description;
          const url = name
            .normalize("NFD")
            .replace(/[\u0300-\u036f]|[\s]/g, "")
            .toLowerCase();
          const checkout = `https://checkout.hostgator.com.br/?a=add&sld=${url}&tld=.com.br`;
          domains.push({
            name,
            checkout
          });
        }
      }
      return domains;
    }
  },
  created() {
    this.getItems("prefix");
    this.getItems("suffix");
  }
};
</script>
