<template>
  <div>
    <div id="slogan">
      <h1 class="text-center">Name Gator</h1>
      <h6 class="text-center text-secondary">Gerador de nome utilizando VueJS</h6>
    </div>

    <div id="main">
      <DomainList></DomainList>
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";
import DomainList from "./components/DomainList";

export default {
  name: "app",
  components: {
    DomainList
  }
};
</script>

<style>
#slogan {
  margin: 2em 0;
}
#main {
  background: hsl(0, 0%, 95%);
  padding: 2em 0;
}
input {
  box-shadow: none !important;
}
button a {
  color: inherit !important;
  text-decoration: none !important;
}
</style>
